@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url("./back.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: white;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
