@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: white;
}

.img-hor {
  transform: rotateY(180deg);
}

.blurred-border-top::before {
  content: "";
  position: absolute;
  top: -40px;
  right: -20px;
  left: -20px;
  height: 80px;
  width: 120%;
  overflow-y: hidden;
  background: inherit;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  filter: blur(12px);
  z-index: 20;
}

.blurred-border-bottom::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: -20px;
  left: -20px;
  height: 80px;
  width: 120%;
  overflow-y: hidden;
  background: inherit;
  box-shadow: 0 2px 8px rgba(229, 231, 235, 0.5);
  filter: blur(14px);
  z-index: 20;
}

.screen-content {
  top: 12%;
  left: 40%;
  width: 20%;
  height: 35%;
}

.button1 {
  top: 63%;
  left: 55%;
}

.button2 {
  top: 63%;
  left: 50%;
}

.seventh-block {
  background-color: black;
}

.block6 {
  width: 100%;
  background-image: url("../public/block6/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dex {
  height: 80vh;
}

.img1 {
  transform: rotate(-15deg);
}

.img2 {
  transform: rotate(12deg);
}

.img3 {
  transform: rotate(5deg);
}

.img4 {
  transform: rotate(-12deg);
}

.img5-holder {
  margin-bottom: e15vh;
}

.img5 {
  transform: rotate(-8deg);
}

.img6-holder {
  margin-bottom: 10vh;
}

.img6 {
  transform: rotate(5deg);
}
