@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.mirror-y {
  transform: rotateY(180deg);
}

.mirror-x {
  transform: rotateX(180deg);
}

.blurred-border-top::before {
  content: "";
  position: absolute;
  top: -40px;
  right: -20px;
  left: -20px;
  height: 80px;
  width: 120%;
  overflow-y: hidden;
  background: inherit;
  box-shadow: 0 10% 10% rgba(0, 0, 0, 0.5);
  filter: blur(14px);
  z-index: 20;
}

.blurred-border-bottom::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: -20px;
  left: -20px;
  height: 80px;
  width: 120%;
  overflow-y: hidden;
  background: inherit;
  box-shadow: 0 10% 10% rgba(0, 0, 0, 0.5);
  filter: blur(14px);
  z-index: 20;
}

.proceed-btn {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pc-content {
  top: 12%;
  left: 15%;
  width: 70%;
  height: 36%;
}

.next-btn {
  top: 56%;
  left: 57%;
}

.prev-btn {
  top: 56%;
  left: 43%;
}

.on-btn {
  bottom: 12%;
  right: 8%;
}

@media (min-width: 1024px) {
  .pc-content {
    top: 12%;
    left: 40%;
    width: 20%;
    height: 36%;
  }

  .next-btn {
    top: 59.5%;
    left: 53.5%;
  }

  .prev-btn {
    top: 59.5%;
    left: 49.5%;
  }

  .on-btn {
    bottom: 12%;
    right: 37.5%;
  }
}

.slide-right-enter {
  transform: translateX(100%);
}
.slide-right-enter-active {
  transform: translateX(0);
}
.slide-right-exit {
  transform: translateX(0);
}
.slide-right-exit-active {
  transform: translateX(-100%);
}

.slide-left-enter {
  transform: translateX(-100%);
}
.slide-left-enter-active {
  transform: translateX(0);
}
.slide-left-exit {
  transform: translateX(0);
}
.slide-left-exit-active {
  transform: translateX(100%);
}

.crt {
  background-image: radial-gradient(transparent 70%, black);
}

.scan-bar {
  animation: scan 2s infinite;
}

@keyframes scan {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
