@tailwind base;
@tailwind components;
@tailwind utilities;

.mirror-y {
  transform: rotateY(180deg);
}

.div-fw {
  background-image: url("../../../public/banner/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
