@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c2c2c2;
}

.mirror-y {
  transform: rotateY(180deg);
}

.div-fw {
  background-image: url("../../../public/banner/banner.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.btn-orange {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../public/section-2/buttons/orange.webp");
}

.btn-google {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../public/section-2/knopka.webp");
  display: inline-block;
  width: 20rem;
  height: 5.5rem;
}

.btn-red {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../public/section-2/buttons/red.webp");
}

.gentle-shake {
  animation: tilt-shaking 3s infinite;
  animation-delay: 3s;
}

.img-cup {
  transform: rotate(-8deg);
}

.pixelated {
  image-rendering: pixelated;
}

.orange-link {
  color: #ff9900;
  fill: #ff9900;
}
